body{
    background-color: lightgreen;
}
h1{
    color: green;
    border-bottom: 5px solid yellow;
    width: 65%;
}
h2{
    color: crimson;
    border-bottom: 5px dashed orange;
    width: 65%;
}
h3{
    color: blue;
    border-bottom: 5px dotted navajowhite;
    width: 51%;
}